.demo {
    height: 100vh;
}

.demoCard {
    border: 2px solid black;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: lightgray;
}

.demoTitle {
    background-color: lightgray;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

