@font-face {
  font-family: 'marvin-visions';
  src: local('marvin-visions'), url(./fonts/MarvinVisions-Bold.woff) format('woff');
}

@font-face {
  font-family: 'alarm-clock';
  src: local('alarm-clock'), url(./fonts/alarm-clock.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
